<div class="produto-container">
    <div class="produto-card">
      <h1>Iphone 16 </h1>
      <!-- Foto do Produto -->
      <div class="produto-foto">
        <img src="https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/iphone-16-model-unselect-gallery-2-202409?wid=5120&hei=2880&fmt=webp&qlt=70&.v=ZnlzVUZzRWd3dlg0RllqbHhQSUpKTGdzSmpObkZCM3MrNmJ5SkhESlNDanlDY21PSjI4a1J3YUdLdi9QdFZSNkpFd0xhWDVibStLdGRYRmxkNGI4VTdpMGJRT0ppMjh4RlRZQkc0Q3FZZEFsOVdqSjY3V3p1MDBhMlNUVWluYmM=&traceId=1" alt="Foto do Produto" />
      </div>
  
      <!-- Descrição do Produto -->
      <div class="produto-descricao">
        <h2>Descrição do Produto</h2>
        <p>iPhone 16: Evolução Refinada

          Design elegante e familiar.<br>
          Tela Super Retina XDR vibrante.<br>
          Chip A16 Bionic para alto desempenho.<br>
          Câmera dupla aprimorada com novos recursos.<br>
          Bateria de longa duração.<br>
          iOS 17 com interface intuitiva e melhorias.<br>
          Face ID, carregamento sem fio e resistência.<br>
      </div>
  
      <!-- Valor do Produto -->
      <div class="produto-valor">
        <h3>R$ 7.799,00 no Pix <br>
        </h3>
      </div>
      <button (click)="comprar()">Comprar</button>
    </div>
  
    <div class="produto-card">
      <h1>Iphone 15</h1>
      <!-- Foto do Produto -->
      <div class="produto-foto">
        <img src="https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/iphone-15-model-unselect-gallery-2-202309?wid=5120&hei=2880&fmt=webp&qlt=70&.v=aVFiZEF4WDEvUWJNSU5HRDg4cklnTGdzSmpObkZCM3MrNmJ5SkhESlNDaU00NGE1MW1TNWM0aU1qbjRuMkdmMUpFd0xhWDVibStLdGRYRmxkNGI4VTdpMGJRT0ppMjh4RlRZQkc0Q3FZZENvSENINmdsRnQ5dUdQR0RpRENOcVA=&traceId=1" alt="Foto do Produto" />
      </div>
  
      <!-- Descrição do Produto -->
      <div class="produto-descricao">
        <h2>Descrição do Produto</h2>
        <p>iPhone 15: Inovação Acessível em Resumo<br>
          Design refinado com bordas arredondadas e laterais planas.<br>
          Tela Super Retina XDR com Dynamic Island em todos os modelos.<br>
          Chip A15 Bionic para desempenho ágil e eficiente.<br>
          Sistema de câmera aprimorado com novos sensores e recursos de software.<br>
          Bateria de longa duração para uso durante todo o dia.<br>
          iOS 16 com interface intuitiva e novos recursos.<br>
          Face ID, carregamento sem fio MagSafe e resistência à água e poeira.<br>
          Porta USB-C substitui a Lightning, oferecendo maior compatibilidade.</p>
      </div>
  
      <!-- Valor do Produto -->
      <div class="produto-valor">
        <h3>R$ 6.449,00 no Pix</h3>
      </div>
      <button (click)="comprar()">Comprar</button>
    </div>
  </div>
